.container {
  position: absolute;
  top: 65px;
  right: 60px;
  width: 500px;
  height: 365px;
  @include breakpoint("phone") {
    width: 100%;
  }
  .box {
    @include boxBorder(no);
    width: 100%;
    max-width: 500px;
    .content {
      min-height: 300px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
